body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    color: darkblue;
    padding: 50px;
}

.buttons {
    text-align: center;
    margin: 20px;
}

.btn {
    width: 130px;
    margin: 10px;
}